<a href="https://colab.research.google.com/github/naomintsy/Jurnal-Pemrograman-Basis-Fungsi/blob/main/%5BPBF_2022_RB_Latihan_10%5D_120450098_Naomi_Natasya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Naomi Natasya

NIM : 120450098

LATIHAN PADA MATERI MODUL 10

**Higher Order Function - Reduce**

In [2]:
from functools import reduce as r

In [3]:
L = [2,1,9,10,3,90,15]
r(lambda a,b:a + (1 if b % 2 == 0 else 0), L, 0)

3

In [4]:
from functools import reduce

n = 4
print(reduce (lambda x,y : x+y, range (1,n+1)))

10

In [7]:
def addku(a,b):
  res = a+b 
  print ('a :', a, 'b:', b, 'a+b:', res)
  return res

L = [1,2,3,4,5]
r (addku, L)

a : 1 b: 2 a+b: 3
a : 3 b: 3 a+b: 6
a : 6 b: 4 a+b: 10
a : 10 b: 5 a+b: 15

15

In [8]:
r(addku,L,10)

a : 10 b: 1 a+b: 11
a : 11 b: 2 a+b: 13
a : 13 b: 3 a+b: 16
a : 16 b: 4 a+b: 20
a : 20 b: 5 a+b: 25

25

In [9]:
r(lambda a,b:a+b,L)

15

In [10]:
r(lambda a,b:a+b,L,10)

25

In [13]:
L = [2,4,5,12,7,8]
maks = L[0]
for el in L:
  if el>maks:
    maks = el

print (maks)

12

In [16]:
def makz(a,b):
  return a if a>b else b

r(makz,L)

12

In [17]:
r(lambda a,b:a if a>b else b,L)

12

MAP VIA REDUCE

In [18]:
L = range(10)
r(lambda a,b:a +[b], L, [])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
def mymap (f,L):
  return r(lambda a,b:a + [f(b)], L, [])

mymap(lambda x:x+10,L)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

FILTER VIA REDUCE

In [21]:
L = range(10)
r(lambda a,b:a +[b] if b%2==0 else a, L, [])

[0, 2, 4, 6, 8]

In [22]:
def myfilter(f,L):
  return r(lambda a,b:a + [b] if f(b) else a,L,[])

myfilter (lambda x: x%2==0,L)

[0, 2, 4, 6, 8]

**LATIHAN**

1. Buat fungsi mencari jumlah bilangan genap dari list L!

In [25]:
L = [2,1,9,10,3,90,15]


n_genap = lambda L: r( lambda a,b:a + 1 if b%2==0 else a, L ,0)
n_genap(L)

3

2. Buat fungsi untuk menghitung n! Menggunakan reduce!

In [29]:
facto = lambda n:r (lambda a,b: a+b if b>1 else 1, range (1,n+1),1)

for i in range(10+1):
  print (str(i) + '! = ', facto(i))

0! =  1
1! =  1
2! =  3
3! =  6
4! =  10
5! =  15
6! =  21
7! =  28
8! =  36
9! =  45
10! =  55

3. Hitung euclidian distance dari dua vektor berikut menggunakan higher order
function!
X = [2,5,6,7,10]
Y = [-2,9,2,-1,10]

In [30]:

X = [2,5,6,7,10]
Y = [-2,9,2,-1,10]
euclid = lambda X,Y : r (lambda a,c:a+c, map (lambda x,y : ( x-y)**2, X,Y))** 0.5
euclid (X,Y)

10.583005244258363

4. Terdapat dictionary employee berisi nama dan umur pegawai, lakukan reduce untuk mengetahui
berapa jumlah pegawai yang berumur > 25 tahun !
employee = {
'Nagao':35,
'Ishii':30,
'Kazutomo':20,
'Saito':25,
'Hidemi':29
}

In [31]:
employee = {
'Nagao':35,
'Ishii':30,
'Kazutomo':20,
'Saito':25,
'Hidemi':29
}

cnt_emp = lambda lim, employee: r(lambda a,b: a+1 if b[1]> lim else a, employee.items(), 0)
cnt_emp(25,employee)

3

5. Buatlah deret fibonacci menggunakan higher order function!

In [33]:
#non recursive
fibo = lambda n: r ( lambda a,b : a if b[0] <=1 else a + [a[b[0]-1] + a[b[0] -2]], enumerate ( [0,1] + list (range(1,n))), [0,1]) if n>0 else [0]

In [34]:
for i in range (20):
  print ('Fibonacci =', i, fibo(i))

Fibonacci = 0 [0]
Fibonacci = 1 [0, 1]
Fibonacci = 2 [0, 1, 1]
Fibonacci = 3 [0, 1, 1, 2]
Fibonacci = 4 [0, 1, 1, 2, 3]
Fibonacci = 5 [0, 1, 1, 2, 3, 5]
Fibonacci = 6 [0, 1, 1, 2, 3, 5, 8]
Fibonacci = 7 [0, 1, 1, 2, 3, 5, 8, 13]
Fibonacci = 8 [0, 1, 1, 2, 3, 5, 8, 13, 21]
Fibonacci = 9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Fibonacci = 10 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
Fibonacci = 11 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Fibonacci = 12 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
Fibonacci = 13 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
Fibonacci = 14 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
Fibonacci = 15 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Fibonacci = 16 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
Fibonacci = 17 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
Fibonacci = 18 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
Fibonacci = 19 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [35]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [42]:
#recursive

fibo_rec = lambda n: 0 if n==0 else 1 if (n==1 or n==2) else fibo_rec(n-1) + fibo_rec(n-2)
deret_fibo_rec = lambda n:list (map (lambda i : fibo_rec(i), range (n+1)))
deret_fibo_rec(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]